.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.auth-form_label {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-items: left;
}

.auth-form_input {
  margin-left: 10px;
}

.auth-button {
  align-self: center;
  margin-top: 10px;
  background-color: blueviolet;
  color: aliceblue;
}

.google-button {
  align-self: center;
  margin-top: 10px;
  background-color: blueviolet;
  color: aliceblue;
}

.auth-button_divider {
  align-self: center;
  margin-top: 10px;
  font-size: 12px;
}
