.dashboard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  color: purple;
}

.dashboard-tiles_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5rem 5rem 5rem 5rem;
  column-gap: 2rem;
  row-gap: 2rem;
  width: fit-content;
}

.dashboard-tile_image {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}
